<div class="container-fluid-lg">
    <div class="row">
        <div class="col-12">
            <div class="header-nav">
                <div class="header-nav-left">
                    <button class="dropdown-category">
                        <i data-feather="align-left"></i>
                        <span>دسته بندی ها</span>
                    </button>

                    <div class="category-dropdown">
                        <div class="category-title">
                            <h5>دسته بندی</h5>
                            <button type="button" class="btn p-0 close-button text-content">
                                <i class="fa-solid fa-xmark"></i>
                            </button>
                        </div>

                        <ul class="category-list">
                            <li class="onhover-category-list">
                                <a href="javascript:void(0)" class="category-name">
                                    <img src="assets/svg/1/vegetable.svg" alt="">
                                    <h6>میوه جنوب</h6>
                                    <i class="fa-solid fa-angle-left"></i>
                                </a>

                                <div class="onhover-category-box">
                                    <div class="list-1">
                                        <div class="category-title-box">
                                            <h5>سبزیجات ارگانیک</h5>
                                        </div>
                                        <ul>
                                            <li>
                                                <a href="javascript:void(0)">سیب زمینی و گوجه فرنگی</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">خیار و فلفل دلمه ای</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">سبزیجات برگ دار</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">ریشه سبزیجات</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">لوبیا و بامیه</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">کلم و گل کلم</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">کدو و چوب طبل</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">سبزیجات</a>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="list-2">
                                        <div class="category-title-box">
                                            <h5>میوه تازه</h5>
                                        </div>
                                        <ul>
                                            <li>
                                                <a href="javascript:void(0)">موز و پاپایا</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">کیوی، مرکبات</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">سیب و انار</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">میوه های فصل</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">انبه</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">سبدهای میوه</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>

                            <li class="onhover-category-list">
                                <a href="javascript:void(0)" class="category-name">
                                    <img src="assets/svg/1/cup.svg" alt="">
                                    <h6>نوشیدنی ها</h6>
                                    <i class="fa-solid fa-angle-left"></i>
                                </a>

                                <div class="onhover-category-box w-100">
                                    <div class="list-1">
                                        <div class="category-title-box">
                                            <h5>انرژی و نوشابه</h5>
                                        </div>
                                        <ul>
                                            <li>
                                                <a href="javascript:void(0)">مخلوط سودا و کوکتل</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">مخلوط سودا و کوکتل</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">ورزش و نوشیدنی های انرژی زا</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">نوشیدنی های غیر الکلی</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">آب بسته بندی شده</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">آب چشمه</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">آب طعم دار</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>

                            <li class="onhover-category-list">
                                <a href="javascript:void(0)" class="category-name">
                                    <img src="assets/svg/1/meats.svg" alt="">
                                    <h6>گوشت و غذاهای دریایی</h6>
                                    <i class="fa-solid fa-angle-left"></i>
                                </a>

                                <div class="onhover-category-box">
                                    <div class="list-1">
                                        <div class="category-title-box">
                                            <h5>گوشت</h5>
                                        </div>
                                        <ul>
                                            <li>
                                                <a href="javascript:void(0)">گوشت تازه</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">گوشت منجمد</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">گوشت ترشی شده</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">گوشت تازه و منجمد</a>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="list-2">
                                        <div class="category-title-box">
                                            <h5>غذای دریایی</h5>
                                        </div>
                                        <ul>
                                            <li>
                                                <a href="javascript:void(0)">ماهی آب شیرین</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">ماهی خشک</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">ماهی و غذاهای دریایی منجمد</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">ماهی آب دریایی</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">غذاهای دریایی کنسرو شده</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">میگو و میگو</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">سایر غذاهای دریایی</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>

                            <li class="onhover-category-list">
                                <a href="javascript:void(0)" class="category-name">
                                    <img src="assets/svg/1/breakfast.svg" alt="">
                                    <h6>صبحانه و لبنیات</h6>
                                    <i class="fa-solid fa-angle-left"></i>
                                </a>

                                <div class="onhover-category-box">
                                    <div class="list-1">
                                        <div class="category-title-box">
                                            <h5>غلات صبحانه</h5>
                                        </div>
                                        <ul>
                                            <li>
                                                <a href="javascript:void(0)">جو و فرنی</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">غلات بچه گانه</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">موسلی</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">پولک</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">گرانولا و میله غلات</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">نودل فوری</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">پاستا و ماکارونی</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">تنقلات یخ زده غیر گیاهی</a>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="list-2">
                                        <div class="category-title-box">
                                            <h5>لبنیات</h5>
                                        </div>
                                        <ul>
                                            <li>
                                                <a href="javascript:void(0)">شیر</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">کشک</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">پنیر، توفو و کرم</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">کره و مارگارین</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">شیر خشک غلیظ شده</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">دوغ و لاسی</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">ماست و شریکند</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">طعم دار، شیر سویا</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>

                            <li class="onhover-category-list">
                                <a href="javascript:void(0)" class="category-name">
                                    <img src="assets/svg/1/frozen.svg" alt="">
                                    <h6>غذای یخ زده</h6>
                                    <i class="fa-solid fa-angle-left"></i>
                                </a>

                                <div class="onhover-category-box w-100">
                                    <div class="list-1">
                                        <div class="category-title-box">
                                            <h5>نودل و پاستا</h5>
                                        </div>
                                        <ul>
                                            <li>
                                                <a href="javascript:void(0)">نودل فوری</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">نودل هاکا</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">نودل فنجانی</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">ورمیشل</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">پاستا فوری</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>

                            <li class="onhover-category-list">
                                <a href="javascript:void(0)" class="category-name">
                                    <img src="assets/svg/1/biscuit.svg" alt="">
                                    <h6>بیسکویت و تنقلات</h6>
                                    <i class="fa-solid fa-angle-left"></i>
                                </a>

                                <div class="onhover-category-box">
                                    <div class="list-1">
                                        <div class="category-title-box">
                                            <h5>بیسکویت و کلوچه</h5>
                                        </div>
                                        <ul>
                                            <li>
                                                <a href="javascript:void(0)">بیسکویت‌های شور</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">ماری، سلامت، گوارش</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">بیسکویت خامه‌ای و ویفر</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">بیسکویت‌های گلوکز و شیر</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">کوکی‌ها</a>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="list-2">
                                        <div class="category-title-box">
                                            <h5>میان وعده های نانوایی</h5>
                                        </div>
                                        <ul>
                                            <li>
                                                <a href="javascript:void(0)">چوب نان و لواش</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">نان پنیر و سیر</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">پفک، پاتی، ساندویچ</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">خردهای نان و کروتون</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>

                            <li class="onhover-category-list">
                                <a href="javascript:void(0)" class="category-name">
                                    <img src="assets/svg/1/grocery.svg" alt="">
                                    <h6>مواد غذایی</h6>
                                    <i class="fa-solid fa-angle-left"></i>
                                </a>

                                <div class="onhover-category-box">
                                    <div class="list-1">
                                        <div class="category-title-box">
                                            <h5>خواربار</h5>
                                        </div>
                                        <ul>
                                            <li>
                                                <a href="javascript:void(0)">لیمو، زنجبیل و سیر</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">گیاهان هندی و عجیب و غریب</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">سبزیجات ارگانیک</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">میوه‌های ارگانیک</a>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="list-2">
                                        <div class="category-title-box">
                                            <h5>منگنه های ارگانیک</h5>
                                        </div>
                                        <ul>
                                            <li>
                                                <a href="javascript:void(0)">میوه‌های خشک ارگانیک</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">دال و پالس ارگانیک</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">ارن و آرد ارگانیک</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">شکر ارگانیک، نعناع</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">ماسالا و ادویه ارگانیک</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">برنج ارگانیک، برنج دیگر</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">آردهای ارگانیک</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">روغن خوراکی ارگانیک، قیمه</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="header-nav-middle">
                    <div class="main-nav navbar navbar-expand-xl navbar-light navbar-sticky">
                        <div class="offcanvas offcanvas-collapse order-xl-2" id="primaryMenu">
                            <div class="offcanvas-header navbar-shadow">
                                <h5>منو</h5>
                                <button class="btn-close lead" type="button" data-bs-dismiss="offcanvas"
                                        aria-label="Close"></button>
                            </div>
                            <div class="offcanvas-body">
                                <ul class="navbar-nav">
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="javascript:void(0)"
                                           data-bs-toggle="dropdown">دمو ها</a>

                                        <ul class="dropdown-menu">
                                            <li>
                                                <a class="dropdown-item" href="index.html">کارت شاپ</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="index-2.html">سوییت شاپ</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="index-3.html">اورگانیک</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="index-4.html">سوپرشاپ</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="index-5.html">فروشگاه کلاسیک</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="index-6.html">مبلمان</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="index-7.html">جستجو گرا</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="index-8.html">محتوا دسته ای</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="index-9.html">مد و لباس</a>
                                            </li>
                                        </ul>
                                    </li>

                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="javascript:void(0)"
                                           data-bs-toggle="dropdown">فروشگاه</a>

                                        <ul class="dropdown-menu">
                                            <li>
                                                <a class="dropdown-item" href="shop-category-slider.html">فروشگاه (دسته بندی اسلایدی)</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="shop-category.html">فروشگاه (دسته بندی سایدبار)</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="shop-banner.html">بنر فروشگاه</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="shop-left-sidebar.html">فروشگاه (سایدبار چپ)</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="shop-list.html">فروشگاه (لیست)</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="shop-right-sidebar.html">فروشگاه (سایدبار راست)</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="shop-top-filter.html">فروشگاه (فیلتر بازشونده)</a>
                                            </li>
                                        </ul>
                                    </li>

                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="javascript:void(0)"
                                           data-bs-toggle="dropdown">محصولات</a>

                                        <ul class="dropdown-menu">
                                            <li>
                                                <a class="dropdown-item" href="product-4-image.html">برگه محصول : 4 تصویر</a>
                                            </li>
                                            <li class="sub-dropdown-hover">
                                                <a href="javascript:void(0)" class="dropdown-item">محصولات (دارای تامبنیل)</a>
                                                <ul class="sub-menu">
                                                    <li>
                                                        <a href="product-left-thumbnail.html">برگه محصول : تامبنیل چپ</a>
                                                    </li>

                                                    <li>
                                                        <a href="product-right-thumbnail.html">برگه محصول : تامبنیل راست</a>
                                                    </li>

                                                    <li>
                                                        <a href="product-bottom-thumbnail.html">برگه محصول : تامبنیل پایین</a>
                                                    </li>
                                                </ul>
                                            </li>

                                            <li>
                                                <a href="product-slider.html" class="dropdown-item">اسلایدر محصول</a>
                                            </li>
                                            <li>
                                                <a href="product-bundle.html" class="dropdown-item">سبد محصولات</a>
                                            </li>
                                            <li>
                                                <a href="product-sticky.html" class="dropdown-item">محصول چسبان</a>
                                            </li>
                                        </ul>
                                    </li>

                                    <li class="nav-item dropdown dropdown-mega">
                                        <a class="nav-link dropdown-toggle ps-xl-2 ps-0"
                                           href="javascript:void(0)" data-bs-toggle="dropdown">مگامنو</a>

                                        <div class="dropdown-menu dropdown-menu-2">
                                            <div class="row">
                                                <div class="dropdown-column col-xl-3">
                                                    <h5 class="dropdown-header">سبزیجات روزانه</h5>
                                                    <a class="dropdown-item"
                                                       href="shop-left-sidebar.html">لوبیا</a>

                                                    <a class="dropdown-item"
                                                       href="shop-left-sidebar.html">کلم بروکلی</a>

                                                    <a href="shop-left-sidebar.html"
                                                       class="dropdown-item">فلفل قرمز، سیر</a>

                                                    <a class="dropdown-item"
                                                       href="shop-left-sidebar.html">سبزیجات و سالاد</a>

                                                    <a class="dropdown-item"
                                                       href="shop-left-sidebar.html">کدو، خیار</a>

                                                    <a class="dropdown-item"
                                                       href="shop-left-sidebar.html">ریحان</a>

                                                    <a href="demo-personal-portfolio.html"
                                                       class="dropdown-item">کاهو و برگ</a>
                                                </div>

                                                <div class="dropdown-column col-xl-3">
                                                    <h5 class="dropdown-header">پرفروش ترین</h5>
                                                    <a class="dropdown-item"
                                                       href="shop-left-sidebar.html">لوبیا</a>

                                                    <a class="dropdown-item"
                                                       href="shop-left-sidebar.html">کلم بروکلی</a>

                                                    <a class="dropdown-item"
                                                       href="shop-left-sidebar.html">فلفل قرمز، سیر</a>

                                                    <a class="dropdown-item"
                                                       href="shop-left-sidebar.html">سبزیجات و سالاد</a>

                                                    <a class="dropdown-item"
                                                       href="shop-left-sidebar.html">کدو، خیار</a>

                                                    <a class="dropdown-item"
                                                       href="shop-left-sidebar.html">ریحان</a>

                                                    <a href="shop-left-sidebar.html"
                                                       class="dropdown-item">کاهو و برگ</a>
                                                </div>

                                                <div class="dropdown-column col-xl-3">
                                                    <h5 class="dropdown-header">میوه ها</h5>
                                                    <a class="dropdown-item" href="shop-left-sidebar.html">موز</a>

                                                    <a class="dropdown-item" href="shop-left-sidebar.html">شلیل و هلو</a>

                                                    <a class="dropdown-item" href="shop-left-sidebar.html">هندوانه و خربزه</a>

                                                    <a class="dropdown-item" href="shop-left-sidebar.html">سیب و انار</a>

                                                    <a class="dropdown-item" href="shop-left-sidebar.html">میوه های استوایی</a>
                                                </div>

                                                <div class="dropdown-column dropdown-column-img col-3">
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="javascript:void(0)"
                                           data-bs-toggle="dropdown">وبلاگ</a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a class="dropdown-item" href="blog-detail.html">جزئیات وبلاگ</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="blog-grid.html">آرشیو بلاگ (شبکه ای)</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="blog-list.html">آرشیو وبلاگ (لیست)</a>
                                            </li>
                                        </ul>
                                    </li>

                                    <li class="nav-item dropdown new-nav-item">
                                        <label class="new-dropdown">جدید</label>
                                        <a class="nav-link dropdown-toggle" href="javascript:void(0)"
                                           data-bs-toggle="dropdown">برگه ها</a>
                                        <ul class="dropdown-menu">
                                            <li class="sub-dropdown-hover">
                                                <a class="dropdown-item" href="javascript:void(0)">
                                                    قالب ایمیل<span class="new-text">
                                                        <i class="fa-solid fa-bolt-lightning"></i>
                                                    </span>
                                                </a>
                                                <ul class="sub-menu">
                                                    <li>
                                                        <a href="../email-templete/abandonment-email.html">یادآوری خرید </a>
                                                    </li>
                                                    <li>
                                                        <a href="../email-templete/offer-template.html"> قالب تخفیف</a>
                                                    </li>
                                                    <li>
                                                        <a href="../email-templete/order-success.html"> خرید موفق</a>
                                                    </li>
                                                    <li>
                                                        <a href="../email-templete/reset-password.html"> بازیابی رمزعبور</a>
                                                    </li>
                                                    <li>
                                                        <a href="../email-templete/welcome.html"> خوش آمد گویی</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="sub-dropdown-hover">
                                                <a class="dropdown-item" href="javascript:void(0)">
                                                    قالب فاکتور<span class="new-text">
                                                        <i class="fa-solid fa-bolt-lightning"></i>
                                                    </span>
                                                </a>
                                                <ul class="sub-menu">
                                                    <li>
                                                        <a href="../invoice/invoice-1.html">فاکتور 1</a>
                                                    </li>

                                                    <li>
                                                        <a href="../invoice/invoice-2.html"> فاکتور 2</a>
                                                    </li>

                                                    <li>
                                                        <a href="../invoice/invoice-3.html">فاکتور 3</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="404.html">404 برگه</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="about-us.html"> درباره ما</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="cart.html">سبد خرید</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="contact-us.html">تماس با ما</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="checkout.html"> پرداخت</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="coming-soon.html">بزودی</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="compare.html">مقایسه</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="faq.html">سوالات متداول</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="order-success.html">خرید موفق</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="order-tracking.html">رهگیری سفارش</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="otp.html">رمز یکبار مصرف</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="search.html">نتایج جستجو</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="user-dashboard.html">حساب کاربری</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="wishlist.html">لیست علاقه‌مندی ها</a>
                                            </li>
                                        </ul>
                                    </li>

                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="javascript:void(0)"
                                           data-bs-toggle="dropdown">فروشنده</a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a class="dropdown-item" href="seller-become.html">فروشنده شوید</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="seller-dashboard.html">داشبورد فروشنده</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="seller-detail.html">جزئیات فروشنده</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="seller-detail-2.html">جزئیات فروشنده 2</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="seller-grid.html">فروشنده (شبکه ای)</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="seller-grid-2.html">فروشنده (شبکه ای 2)</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="header-nav-right">
                    <button class="btn deal-button" data-bs-toggle="modal" data-bs-target="#deal-box">
                        <i data-feather="zap"></i>
                        <span>پرفروش ترین ها</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>