@{
    ViewData["Title"] = "Home Page";
}

@section Styles{
  
}

<div class="text-center bg-success" style="height:800px;" id="0123">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <button class="btn btn-dark" onclick="Alertt()">Alert</button>
    <button class="btn btn-primary" onclick="CallApi()">Call Api</button>


    <form href="/Home/TestAction"  method="get"  onsubmit="FetchRequest(event)">
       @*  <input hidden type="text" value="123456" name="pass"/>
        <input hidden type="text" value="Mahdi" name="name"/>
        <input hidden type="text" value="0936" name="number"/> *@
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <a class="btn btn-primary ajax-load-partial" href="/Home/TestAction" data-target-id="0123">Load Partial</a>

</div>



@section Scripts {

  
    


    <script>

        

        function Alertt() {

            Swal.fire({
                toast:true,
                titleText: 'Error!',
                text: 'Do you want to continue',
                icon: 'error',
                timer: 5000,
                position: 'top-end',
                showConfirmButton:false,
                allowOutsideClick: true,
                showCloseButton:true,
                width: '400px',
                height: '600px',
                heightAuto: false,
                background: '#FDD6DA',
                padding:'20px',
                timerProgressBar: true,
                closeButtonColor: 'blue',
                //confirmButtonText: 'Ok',
                //showCancelButton:true,
                //cancelButtonText: 'Cancel',
                //allowEscapeKey:true,
                //allowEnterKey:true,
                // '#FDD6DA'
            });

        }
            //getAllResponseHeaders()
      

        function CallApi() {
            
            $.ajax({
                url: "/Home/TestAction",
                method: "get",
                data: {},
                success: function (data, textStatus, jqXHR) {
                    // console.log(data);
                    // console.log(textStatus);
                    // console.log(jqXHR);
                    HandleResponse(data,jqXHR);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(errorThrown);
                    console.log(textStatus);
                    console.log(jqXHR);
                }
            });
        }






    </script>



}