    

<div class="header-top">
    <div class="container-fluid-lg">
        <div class="row">
            <div class="col-xxl-3 d-xxl-block d-none">
                <div class="top-left-header">
                    <i class="iconly-Location icli text-white"></i>
                    <span class="text-white">تهران - برج میلاد</span>
                </div>
            </div>

            <div class="col-xxl-6 col-lg-9 d-lg-block d-none">
                <div class="header-offer">
                    <div class="notification-slider">
                        <div>
                            <div class="timer-notification">
                                <h6><strong class="me-1">به فست کارت خوش آمدید !</strong>خرید لذت بخشی را آرزو میکنیم<strong class="ms-1">کد تخفیف جدید: Fast024</strong></h6>
                            </div>
                        </div>

                        <div>
                            <div class="timer-notification">
                                <h6>
                                    پیشنهادات ویژه را فراموش نکنید !
                                    <a href="shop-left-sidebar.html" class="text-white">خرید آنلاین</a>
                                </h6>
                            </div>
                        </div>

                        <div>
                            <div class="timer-notification">
                                <h6>
                                    بهترین قیمت ها در ارگانیک شاپ
                                </h6>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>